body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.img-fluid{
    max-width: 50%;
    max-height: 85%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
}
